.faded {
	opacity: 0.0;
	background-color: rgb(255,255,255);
}

.detailview article {
	display: none;
}

.detailview-textauszug #textauszug {
	display: block;
	width: 100%;
}

.detailview-textauszug .fullcontent_link {
	display: none;
}

.detailview {
	background-color: rgb(255,255,255);
	height: 100%;
}

.detailview h1 {
	color: rgb(69,169, 245);
}

.detailview h2 {
	display: none;
}

.detailview #text_headline {
	border-bottom: 2px dotted rgb(69,169,245);
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding-bottom: 0px;
}

.detailview .contentfragment{
	height: 100%;	
}

.detailview #textauszug {
	background-image: none;
}

.detailview #all_content {
	overflow-x:visible;
}

.detailview #scroll_content {
	width: 95%;
}

.detailview #footer {
	background-color: rgb(255,255,255);
}



