html, body {
	background-color: rgb(90,90,90);
	font-family: "Avenir Medium", sans-serif;
    margin: 0;
}

header {
    line-height: 25px;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 100%;
}

header>a {
    font-family: "Avenir Black", sans-serif;
	font-size: 15pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(128,128,128);
    text-decoration: none;
    text-transform: uppercase;
    padding-left:10px;
    margin-top: 5px;
    display: inline-block;
}

/* CONFIG SWITCH */
#config_switch {
	color: grey;
	position: fixed;
	right: 10px;
	top: 5px;
}

section {
	margin-top: 30px;
	background-color: rgb(90,90,90);
	transition: opacity 2s, background-color 2s;
	opacity: 1.0;
}

#all_content {
	overflow: auto;
/*	overflow-x: scroll; */
	width: auto;
}

#scroll_content {
	width: 1200px;
}

article {
	margin-left: 10px;
    width: 360px;
    float: left;
}

footer {
	clear:left;
	padding-top: 1em;
	padding-bottom: 5em;
	padding-left: 0em;
	padding-right: 0em;
    margin: 0 auto;
    transition: opacity 2s, background-color 2s;
	opacity: 1.0;
}

footer a {
    font-family: "Avenir Black", sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(128,128,128);
    text-decoration: none;
}

ul#Navigation li {
    
    list-style: none;
    display: inline;
  }

ul#Navigation {
	margin-bottom: 0px;
}  

h1 {
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	padding-top: 10px;
	margin-left: 10px;
	white-space: nowrap;
}

/*
 * OBJEKT
 */

#objekt {
  	background-image: url("../content/img/BackgroundMerkliste.png");
}

#objekt h2{
    font-family: "Avenir Medium", sans-serif;
	font-size: 30pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(128,128,128);
	text-transform: uppercase;
	margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}
#objekt_headline {
	position: relative;
    border-bottom: 1px dashed rgb(128,128,128);
    margin: 0px;
}
#objekt_img {
	position: absolute;
	right: 30px;
	top: 20px;
}

#objekt_figure {
    padding: 50px;
} 

#objekt_figure img {
	max-width: 180px;
	height: auto;
}



/*
 * TEXTAUSZUG
 */

#textauszug {
	 background-image: url("../content/img/BackgroundMerkliste.png");
}

#text_headline {
    border-bottom: 1px dashed rgb(69,169,245);
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    padding-bottom: inherit;
}

#textauszug h2 {
    font-family: "Avenir Medium", sans-serif;
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(69,169,245);
	padding: 0px;
	text-transform: uppercase;
	margin: 0px;
	margin-left: 20px;
}

.contentfragment {
	font-family: "Marion Regular";
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(77,77,77);
	padding: 20px;
	height: 390px;
	overflow: hidden;
	text-overflow: clip;
	
}

.part, .dialogpause {
	font-style: oblique;
}

.sprecher {
	text-transform: uppercase;
}

.fullcontent_link{
	padding-left: 60px;
	padding-top: 40px;
	padding-bottom: 20px;
	margin-left: 20px;
	background-image: url("../content/img/Pfeil02.png");
	background-repeat: no-repeat;
	background-position: left;
	
}

.fullcontent_link a{
	font-family: "Marion Regular";
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	text-decoration:none;
	line-height: 30px;
	color: rgb(69,169,245);
}



/*
 * MEDIENVERWEISE
 */

#medienverweise {
	/* no stroke length of dashes possible, the border is drawn around the whole content */
	width: 360px;
}

#medienverweise div {
	background-color: rgb(00,00,00);
	margin-bottom: 20px;
	padding-bottom: 40px;
}

#medienverweise h2 {
	font-family: "Avenir Medium", sans-serif;
	font-size: 30pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(69,169,245);
	text-transform: uppercase;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	background-image: url("../content/img/Pfeil03.png");
	background-repeat:no-repeat;
	background-position:right;
}

#medienverweise ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#medienverweise li {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px dashed rgb(242,242,242);
}

#medienverweise li a {
	font-family: "Avenir Black", sans-serif;
	font-size: 20pt;
	color: rgb(242,242,242);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
