html, body {
	background-color: rgb(90,90,90);
	font-family: "Avenir Medium", sans-serif;
    margin: 0;
}

header {
    line-height: 25px;
    background-color: black;
}

header>a {
    font-family: "Avenir Black", sans-serif;
	font-size: 15pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(128,128,128);
    text-decoration: none;
    text-transform: uppercase;
    padding-left:10px;
    margin-top: 5px;
    display: inline-block;
}

section {
	height: 100%;
	background-color: rgb(90,90,90);
	transition: opacity 2s, background-color 2s;
	opacity: 1.0;
}

/* nur für footer
section:after {
	content: "";
	display: block;
	height: 25px;
}
*/

#all_content {
	overflow: auto;
/*	overflow-x: scroll; */
	width: auto;
}

#scroll_content {
	width: 1200px;
}

article {
	margin: 0 10px;
    width: 240px;
    float: left;
    display: inline-block;
}

h1 {
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	padding-top: 10px;
	margin-left: 10px;
}

/*
footer {
	clear: left;
 	line-height: 25px; 
	margin: 0;
	padding: 0;
	background-color: rgb(0,0,0);
    //transition: opacity 2s, background-color 2s;
	//opacity: 1.0;
}

footer ul {
	list-style: none;
    padding: 5px;
    display:table;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

footer li {
	display: table-cell;
	text-align: center;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: rgb(128,128,128);
}

footer li:last-child {
	border: none;
	text-align: left;
}

footer a {
    font-family: "Avenir Black", sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-weight: 600;
	color: rgb(128,128,128);
    text-decoration: none;
    text-transform: uppercase;
}
*/

/*
 * OBJEKT
 */

#objekt {
  	background-image: url("../content/img/BackgroundMerkliste.png");
	display: block;
    font-family: Avenir, sans-serif;
	font-size: 17pt;
	font-weight: normal;
	font-style: normal;
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 0 0;
	width: auto;
	height: auto;
}

#objekt h2{
    font-family: "Avenir Medium", sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(128,128,128);
	text-transform: uppercase;
	padding: 10px;
	margin: 0;
}

#objekt_headline {
	position: relative;
    border-bottom: 1px dashed rgb(128,128,128);
    margin: 0px;
}
#objekt_img {
	position: absolute;
	right: 30px;
	top: 20px;
	height: 80%;
}

#objekt_figure {
	margin: 25px 25px 25px 25px;;
}

#objekt_figure img {
	max-width: 180px;
	height: auto;
	margin: 0;
	display: table;
	
}



/*
 * TEXTAUSZUG
 */

#textauszug {
	background-image: url("../content/img/BackgroundMerkliste.png");
    font-family: "Marion Regular", sans-serif;
	font-size: 15pt;
	color: rgb(0,0,0);
}

#text_headline {
    border-bottom: 1px dashed rgb(69,169,245);
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    padding-bottom: inherit;
}

#textauszug h2 {
    font-family: "Avenir Medium", sans-serif;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(69,169,245);
	padding: 0px;
	text-transform: uppercase;
	margin: 0px;
	margin-left: 20px;
}

.contentfragment {
	padding: 20px;
	height: 390px;
	overflow: hidden;
	text-overflow: clip;
	
}

.part, .dialogpause {
	font-style: oblique;
}

.sprecher {
	text-transform: uppercase;
}

.fullcontent_link a {
	font-size: 12pt;
	font-family: serif;
	color: rgb(69,169,245);
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-origin: padding-box;
	background-size: 20px 20px;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 30px;
	margin-left: 15px;
	display: block;
	background-image: url("../content/img/Pfeil02.png");
	background-repeat: no-repeat;
	background-position: left;
}

/*
 * MEDIENVERWEISE
 */

#medienverweise {
	width: 240px;
}

#medienverweise div {
	background-color: rgb(0,0,0);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#medienverweise h2 {
	font-family: "Avenir Medium", sans-serif;
	font-size: 1.25em;
	font-style: normal;
	font-weight: normal;
	color: rgb(69,169,245);
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
	background-image: url("../content/img/Pfeil03.png");
	background-repeat:no-repeat;
	background-position:right;
	background-size: auto 60%;
}

#medienverweise ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#medienverweise li {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px dashed rgb(242,242,242);
}

#medienverweise li a {
	font-family: "Avenir Black", sans-serif;
	font-size: 1em;
	color: rgb(242,242,242);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
