* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: rgb(90,90,90);
	font-family: Avenir, sans-serif;
	height: vh;
	display: inline-block;
	vertical-align: top;
}

h1 {
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	margin: 10px 0 10px 7px;
/*
	-moz-user-select: none;
	user-select: none;
*/
}

header {
    line-height: 20px;
	background-color: rgb(0,0,0);
}

header>a {
    font-family: Avenir, sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: 600;
	color: rgb(128,128,128);
    text-decoration: none;
    text-transform: uppercase;
    padding-left:10px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}

section {
	background-color: rgb(90,90,90);
	height: calc(100vh - 52px);
	margin-bottom: -25px;
	width: 1000px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	/*
	transition: opacity 2s, background-color 2s;
	opacity: 1.0;
	*/
}

/* für den footer */
section:after {
	content: "";
	display: block;
	height: 25px;
}

.scrolls {
}

article {
	margin-left: 10px;
	margin-right: 10px;
    width: 240px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

footer {
	clear: left;
 	line-height: 25px; 
	margin: 0;
	padding: 0;
	background-color: rgb(0,0,0);
    /*transition: opacity 2s, background-color 2s;
	opacity: 1.0;*/
}

footer ul {
	list-style: none;
    padding: 5px;
    display:table;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

footer li {
	display: table-cell;
	text-align: center;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: rgb(128,128,128);
}

footer li:last-child {
	border: none;
	text-align: left;
}

footer a {
    font-family: "Avenir Black", sans-serif;
	font-size: 13pt;
	font-style: normal;
	font-weight: 600;
	color: rgb(128,128,128);
    text-decoration: none;
    text-transform: uppercase;
}

.medienverweise div {
	background-color: rgb(40,40,40);
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.medienverweise h2 {
	font-family: "Avenir Medium", sans-serif;
	font-size: 16pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(69,169,245);
	padding: 10px 0;
	margin: 0 10px;
	background-image: url("img/Pfeil03.png");
	background-repeat:no-repeat;
	background-position:right;
	background-size: Auto 50%;
	text-transform: uppercase;
}

.medienverweise ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.medienverweise li {
	padding: 10px 0;
	margin: 0 10px;
	border-top: 1px dashed rgb(242,242,242);
}

.medienverweise li a {
	font-family: Avenir, sans-serif;
	font-size: 13pt;
	color: rgb(242,242,242);
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#textauszug {
	 background-image: url("img/BackgroundMerkliste.png");
	 font-family: serif;
}

#textauszug h2 {
    font-family: Avenir, sans-serif;
	font-size: 17pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(69,169,245);
	text-transform: uppercase;
	padding: 10px;
	margin: 0;
}

#textauszug p {
	margin: 0;
}

.scene {
	margin: 10px;
	color: rgb(77,77,77);
}

.meta {
	font-style: italic;
	line-height: 19pt;
	padding-bottom: 15px;
}

.dialog {
	font-family: "Marion Regular", serif;
	font-style: normal;
	line-height: 17pt;
}

.name {
	margin-right: 6px;
	text-transform: uppercase;
}

#textauszug .fullcontent_link a{
	color: rgb(69,169,245);
	background-image: url("img/Pfeil01.png");
}

.fullcontent_link a {
	font-size: 12pt;
	color: rgb(255,255,255);
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
	background-origin: padding-box;
	background-size: 20px 20px;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 20px;
	margin-left: 15px;
	display: block;
}

/*
 * objekt
 */

#objekt {
    font-family: Avenir, sans-serif;
	font-size: 17pt;
	font-weight: normal;
	font-style: normal;
	background-color: rgb(240,240,240);
	text-transform: uppercase;
	padding: 0 0;
	width: auto;
	height: auto;
}

#objekt h2 {
	font-family: Avenir, sans-serif;
	font-size: 17pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(128,128,128);
	padding: 10px 0;
	margin: 0 10px;
	border-bottom: 1px dashed rgb(128,128,128);
	background-image: url("img/Kringel02.png");
	background-repeat:no-repeat;
	background-position:right;
	background-size: Auto 80%;
}

#objekt figure {
	margin: 25px 25px;
}

#objekt div {
	max-width: 100%;
}

/*
 * einführungstext
 */

#einfuehrungstext {
	display: none;
	width: 300px;
	height: auto;
	background-color: rgb(63,169,245);
	font-family: "Marion", serif;
}

#einfuehrungstext .contentfragment {
	padding: 10px;
	max-height: 130px;
	font-size: 12pt;
	color: rgb(255,255,255);
	font-weight: normal;
	margin: 0px;
	overflow: hidden;
}

/* handle the case that we have very short texts... */
#einfuehrungstext .contentfragment p:first-child {
	margin-top: 0px;
}

#einfuehrungstext .contentfragment p:last-child {
	margin-bottom: 0px;
}

#einfuehrungstext h2 {
	font-size: 13pt;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 5px;
	margin: 0px;
}

#einfuehrungstext p {
	font-weight: 600;
}

#einfuehrungstext .fullcontent_link a{
	color: rgb(255,255,255);
	background-image: url("./img/Pfeil_weiss01.png");
}

/*
 * zeitdokumente
 */

#zeitdokumente {
	display: none;
	background-color: rgb(45,45,45);
	font-family: "Avenir Medium", sans-serif;
	color: rgb(242,242,242);
	font-weight: normal;
	font-style: normal;
	max-width: 200px;
	max-height: 360px;
	width: auto;
	height: auto;
	padding-bottom: 10px;
}

#zeitdokumente h2 {
	font-size: 15pt;
	/* font-weight must be overridden here because it is assigned by default for h2 */
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	/* we need a margin in order to get a left-side offset for the border */
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px dashed rgb(242,242,242);
}

#zeitdokumente figure {
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-image: url("./img/Strich01.png") 0 0 300 0 stretch;
	border-bottom: 10px dashed rgb(63,159,245);
}

#zeitdokumente img {
	margin: 0px;
	padding: 0px;
	width: 200px;
	width: auto;
	height: auto;
	max-height: 200px;
	max-width: 180px;
}

#zeitdokumente figcaption {
	font-size: 12pt;
}

/*
 * mehr unter...
 */

#verknuepfungen {
	display: none;
	/* no stroke length of dashes possible, the border is drawn around the whole content */
	float: left;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dashed rgb(179,179,179);
	max-width: 300px;
}

#verknuepfungen h2 {
	font-family: "Avenir Medium", sans-serif;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	color: rgb(179,179,179);
	text-transform: uppercase;
}

#verknuepfungen ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#verknuepfungen li {
	/* see how margin and padding is used to completely underline the single list entries (padding/left-right: 0px) while at the same time leaving 10px of space to the outer border */
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0;
	margin-right: 0;
	border-top: 1px dashed rgb(179,179,179);
}

#verknuepfungen li a {
	font-family: Avenir, sans-serif;
	font-size: 15pt;
	color: rgb(179,179,179);
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}